// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.answers {
  padding: 20px;
}

.answer {
  padding: 10px 10px;
  height: 30px;
}

.answer h2 {
  display: inline;
}

.answer .new-message {
  display: inline;
  color: #fff;
  background-color: tomato;
  border-radius: 100%;
  font-weight: normal;
}

.answer .conversation .message-inner {
  margin: 5px auto;
  padding: 5px 10px;
}

.answer .conversation .message-other .message-inner {
  display: inline-block;
  background-color: #eee;
  color: #444;
  border-radius: 10px;
}

.answer .conversation .message-mine {
  text-align: right;
}

.answer .conversation .message-mine .message-inner {
  display: inline-block;
  text-align: left;
  background-color: #458aff;
  color: #fff;
  border-radius: 10px;
}
